.carousel-inner{
    .item{
        img{
            width: 100%;
        }
    }
}


#whatwedo{

    transition: 1s transform ease-in-out;

    transform: translateX(200%);
    width: 100%;


    z-index: 1004;

    &.activated{
        transform: translateX(0%);
    }
}



.pull-out-container{
    z-index: 300;
    background-color: black;

    height: 300px !important;
    position: absolute;

    p, ul{
        color: white;

    }
}


.colored-back{
    background: linear-gradient(#316980, #387d8c) !important;
}

.progress {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 3px solid black;
}
